<div class="d-flex flex-column flex-md-row aling-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Gestion de Fotos</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="btn btn-outline-primary" routerLink="/foto-create" routerLinkActive="active">Nueva Foto</a>
    </nav>
  <a class="btn btn-outline-primary" routerLink="/fotos-list" routerLinkActive="active">Lista de Fotos</a>
  </div>
  <router-outlet></router-outlet>
  
   