<div class="container custom-container">
  <div class="col-md-12">

    <h3 class="mb-3 text-center">Up Date Photo</h3>

    <div *ngIf="!hasFoto" class="text-center">
      Chargement ...
    </div>

    <div *ngIf="fotoData != null" class="text-center">
      data api ok ! <br>
      {{ fotoData | json }}
    </div>

    <form *ngIf="hasFoto" [formGroup]="fotoUpdateForm">

      <!-- fotoUpdateForm il faut que soit lie avec le component, pero se puede llamar pepe -->

      <div class="form-group">
        <input type="text" formControlName="name" class="form-control" placeholder="Name">
      </div>


      <!-- sur l'input je mets la valeur de mes champs =formControlName pour les champs 'name' -->
      <div class="form-group">
        <input type="text" formControlName="titulo" class="form-control" placeholder="Titulo">
      </div>

      <div class="form-group">
        <input type="textarea" formControlName="description" class="form-control" placeholder="Description">
      </div>

      <br>

      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="updateFoto()">Up Date Photo</button>
      </div>

    </form>

    {{ fotoUpdateForm.value | json }}

  </div>
</div>
